<div *ngIf="wishes.length === 0; else showItems">
    No Wishes Found.
  </div>
  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of wishes; index as i">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="item.isComplete"
              (click)="toggleItem(item)"
            />
            {{ item.name }}
            <!-- <button (click)="handleDeleteWish(item)">delete</button> -->
          </label>
        </div>
      </li>
    </ul>
  </ng-template>